.login-card {
  width: 50%;
  height: 20rem;
  padding: 2rem 0;
  margin-top: 5%;
  text-align: center;
}

@media (max-width: 750px) {
  .login-card {
    width: 80%;
  }
}

.title {
  font-size: 4rem;
  padding: 2rem;
}

.input {
  margin-left: 0.5rem;
}

.button {
  margin-top: 2rem;
  width: 15rem;
}
