<div class="row">
  <div class="col-12 col-lg-6 d-flex justify-content-center">
    <div class="round-card">
      <h1 class="title">Round {{ roundsCounter }}</h1>
      <h2 class="subtitle">{{ playerTurn.name | uppercase }}</h2>
      <form [formGroup]="form" (ngSubmit)="submitTurn()">
        <select formControlName="move" class="w-75" aria-label="Default select example">
          <option selected></option>
          <option *ngFor="let move of moves" [ngValue]="move">{{ move }}</option>
        </select>
        <p>{{ message }}</p>
        <button class="button" [disabled]="this.form.invalid" type="submit">Ok</button>
      </form>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <app-scorer [rounds]="this.rounds" [score]="this.score"></app-scorer>
  </div>
</div>
