<div class="row">
  <div class="col-12 col-lg-6">
    <div>
      <h1>Round {{ roundsCounter }}</h1>
      <h2>{{ playerTurn.name }}</h2>
      <form [formGroup]="form" (ngSubmit)="submitTurn()">
        <select formControlName="move" class="form-select" aria-label="Default select example">
          <option selected></option>
          <option *ngFor="let move of moves" [ngValue]="move">{{ move }}</option>
        </select>
        <p>{{ message }}</p>
        <button [disabled]="this.form.invalid" type="submit">Ok</button>
      </form>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <app-scorer [rounds]="this.rounds" [score]="this.score"></app-scorer>
  </div>
</div>
